.project
.classpath
.settings/
target/
tomcat.*/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
trust-*/config/
trust-*/.externalToolBuilders/
trust-*/bin/
trust-*/.project
trust-*/.classpath
trust-*/disconf
bin/

